* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.logo {
  max-width: 700px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.cookie-preview {
  width: 310px;
  height: 340px;
  background-size: cover;
  /* background: url("/assets/images/sprinkles.png"),
    url("/assets/images/empty-dark.png"); */
}

.cookies-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookies-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-button {
  display: block;
  background-color: #c3c3c3;
  color: #fff;
  padding: 4px 8px;
  text-decoration: none;
  min-width: 230px;
  max-width: 280px;
  margin: 5px;
  text-align: center;
}

.btn-delete,
.btn-go-home {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 2px;
}

.btn-go-home {
  background-color: green;
  margin: 10px;
}

.selected-items {
  max-width: 700px;
  margin: 10px auto;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-border {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
}

.error {
  border: 1px solid red;
  padding: 15px 5px;
  margin: 10px;
  background-color: rgb(238, 175, 175);
  border-radius: 4px;
}

footer {
  padding: 10px 0;
  background-color: #c3c3c3;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
